#Oro {
    width: 400px;
    background-color: black;
    color: #00FF00;
    padding: 10px;
}
#xcz {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    background-color: black;
    color: green;
}
